hw/*_generation_script*
hw/*_inst.vhd
hw/*.bak
hw/*.cmp
hw/*.done
hw/*.eqn
hw/*.hex
hw/*.html
hw/*.jdi
hw/*.jpg
hw/*.mif
hw/*.pin
hw/*.pof
hw/*.ptf.*
hw/*.qar
hw/*.qarlog
hw/*.qws
hw/*.rpt
hw/*.smsg
hw/*.sof
hw/*.sopc_builder
hw/*.summary
hw/*.txt
hw/*.jic
hw/*.map
hw/*~
hw/*example*
hw/*sopc_*
hw/db/
hw/incremental_db/
hw/simulation/
hw/timing/
hw/testbench/
hw/*_sim/
hw/*.stp
hw/hps_isw_handoff/build
hw/hps_isw_handoff/build.bckp
