hw/*_generation_script*
hw/*_inst.vhd
hw/*.bak
hw/*.cmp
hw/*.done
hw/*.eqn
hw/*.hex
hw/*.html
hw/*.jdi
hw/*.jpg
hw/*.mif
hw/*.pin
hw/*.pof
hw/*.ptf.*
hw/*.qar
hw/*.qarlog
hw/*.qws
hw/*.rpt
hw/*.smsg
hw/*.sof
hw/*.sopc_builder
hw/*.summary
hw/*.txt
hw/*.dts
hw/*~
hw/*example*
hw/*sopc_*
hw/*.csv
hw/*.jic
hw/*.sof
hw/*.sopcinfo
hw/*.summary
hw/*.map
hw/.fr-pvvWpM/
hw/.qsys_edit/
hw/db/
hw/incremental_db/
hw/simulation/
hw/timing/
hw/testbench/
hw/*_sim/
hw/*.stp
hw/hps_isw_handoff/
hw/soc_system/
hw/stamp/
hw/software/

sw/server/build
